*{
    margin: 0 ;
    padding: 0;
}
.section-one{
    width: 1320px;
    position: relative;
    height: 600px;
    border-radius: 16px;
    margin: 1% auto;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner\ Image.png');

}
.text-content{
    color: white;
    text-align: center ;
   /* padding-top: 300px; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) ;
}
.happy-year{
color: #FFF;
text-align: center;
font-family: Merriweather, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;

}
.party-celebration{
    color: #FFF;
text-align: center;
font-family: Merriweather,sans-serif;
font-size: 72px;
font-style: normal;
font-weight: 900;
}

.section-two{
    width: 70%;
    margin: 5% auto;
    text-align: center;
}

.off-rate{
    color: #F00;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}

.holiday{
    /* margin-top: 48px; */
    margin: 48px 0;
    
}

.deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catlog{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-three{
    width: 1320px;
    height: 600px;
    position: relative;
    margin: 1% auto;
    border-radius: 16px;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
}
.section-three-contant{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}


.welcome{
    width: 642px;
    color: #FFF;
    font-family: Merriweather, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    
}

.section-three-para{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 24px;
    margin-bottom: 48px;
}

.btn{
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
} 

.section-four{
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    /* text-align: center; */
    margin: 120px auto;
    border-radius: 16px;
    margin-bottom: 120px;
}


.event-content{
    color: #070211;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    padding: 100px 380px 215px 380px;
}

.color-text{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn-join{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
    margin-top: 48px;
}

.section-five{
    width: 1320px;
    height: 600px;
    background: #FFF;
    margin: 120px auto;
    position: relative;
    background-repeat: no-repeat;
    /* align-items: center; */
}

/* .portfolio-img-content{

} */

.portfolio-notes{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio-title{
    color: #070211;
    font-family: Merriweather, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio-para{
    width: 890px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-img-content{
    padding: 0px auto;
}

.porfolio-img-row{
    display: flex;
    /* block-size: auto; */
    /* justify-content: space-around; */
}

.portfolio-img-format{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    margin: 48px 24px 0px 0px;
}

.section-six{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    position: relative;
    margin: 120px auto;
    margin-top: 120px;
}

.newsletter-img-format{
    width: 150px;
    height: 150px;
    padding: 80px 580px 0px 580px;
}

.newletter-title{
    margin-top: 40px;
}

.newletter-title-text{
    color: #070211;
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.newsletter-para{
    margin: 22px 210px 48px 210px;
}

.newsletter-para-text{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.newsletter-subscribe{
    margin: 0px 330px 80px 330px;
}

.subscribe{
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    /* align-items: center; */
}

.user-mail{
    width: 438px;
    color: rgba(7, 2, 17, 0.30);
    /* text-align: center; */
    padding: 25px 0px 25px 30px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px 0px 0px 50px;
    border: 0px;
}

.submit{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.footer{
    width: 1600px;
    height: 600px;
    background: #070211;
    margin: 0px auto;
    
}

.contact, .copyright{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 120px 140px 0px 140px;
}
hr{
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    justify-content: space-between;
    border: 0px;
    margin: 48px 140px;
}

.social-links{
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 660px;
}

.social-img-format{
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.copyright{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 140px 0px 140px;
}
